:host ::ng-deep .mat-drawer-inner-container {
  background-color: #ebe6e7;
}
.active-link {
  background: #dbeafe;
  /* margin: 6px 10px; */
  color: #2563eb !important;
  font-weight: 600;
}

.active-link mat-icon {
  color: #2563eb !important;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 90%;
}
