<div class="grid grid-cols-12 gap-6 mt-10">
  <!-- Monthly spending -->
  <mat-card class="col-span-12 rounded-2xl shadow-sm">
    <mat-card-content class="p-6">
      <div class="flex justify-between items-center mb-6">
        <div>
          <h2 class="text-xl font-semibold">Monthly Spending</h2>

          <p class="text-sm text-gray-500">Total completed payments each month</p>
        </div>
      </div>

      <apx-chart
        [series]="monthlyChart().series!"
        [chart]="monthlyChart().chart!"
        [xaxis]="monthlyChart().xaxis!"
        [yaxis]="monthlyChart().yaxis!"
        [stroke]="monthlyChart().stroke!"
        [fill]="monthlyChart().fill!"
        [markers]="monthlyChart().markers!"
        [tooltip]="monthlyChart().tooltip!"
        [grid]="monthlyChart().grid!"
        [dataLabels]="monthlyChart().dataLabels!"
      >
      </apx-chart>
    </mat-card-content>
  </mat-card>

  <!-- Payment Status -->
  <mat-card class="col-span-12 lg:col-span-4 rounded-2xl shadow-sm">
    <mat-card-content class="p-6">
      <h2 class="text-lg font-semibold mb-1">Payment Status</h2>

      <p class="text-sm text-gray-500 mb-5">Distribution of payment outcomes</p>

      <apx-chart
        [series]="paymentStatusChart().series!"
        [chart]="paymentStatusChart().chart!"
        [labels]="paymentStatusChart().labels!"
        [legend]="paymentStatusChart().legend!"
        [tooltip]="paymentStatusChart().tooltip!"
        [plotOptions]="paymentStatusChart().plotOptions!"
        [responsive]="paymentStatusChart().responsive!"
        [dataLabels]="paymentStatusChart().dataLabels!"
      >
      </apx-chart>
    </mat-card-content>
  </mat-card>

  <!-- Top Receivers -->
  <mat-card class="col-span-12 lg:col-span-8 rounded-2xl shadow-sm">
    <mat-card-content class="p-6">
      <h2 class="text-lg font-semibold mb-1">Top Receivers</h2>

      <p class="text-sm text-gray-500 mb-5">Highest amount received</p>

      <apx-chart
        [series]="topReceiversChart().series!"
        [chart]="topReceiversChart().chart!"
        [plotOptions]="topReceiversChart().plotOptions!"
        [xaxis]="topReceiversChart().xaxis!"
        [yaxis]="topReceiversChart().yaxis!"
        [tooltip]="topReceiversChart().tooltip!"
        [grid]="topReceiversChart().grid!"
        [stroke]="topReceiversChart().stroke!"
        [legend]="topReceiversChart().legend!"
        [dataLabels]="topReceiversChart().dataLabels!"
      >
      </apx-chart>

      <!-- Horizontal -->
    </mat-card-content>
  </mat-card>

  <!-- Daily -->
  <mat-card class="col-span-12 rounded-2xl shadow-sm">
    <mat-card-content class="p-6">
      <h2 class="text-lg font-semibold mb-6">Daily Transactions</h2>

      <!-- Bar -->
    </mat-card-content>
  </mat-card>
</div>
