<div class="grid grid-cols-12 gap-6 mt-10">
  <!-- Monthly spending -->
  <mat-card class="col-span-12 rounded-2xl shadow-sm">
    <mat-card-content class="p-6">
      <h2 class="text-xl font-semibold mb-6">Monthly Spending</h2>
    </mat-card-content>
  </mat-card>

  <!-- Payment Status -->
  <mat-card class="col-span-12 lg:col-span-4 rounded-2xl shadow-sm">
    <mat-card-content class="p-6">
      <h2 class="text-lg font-semibold mb-6">Payment Status</h2>

      <!-- Donut -->
    </mat-card-content>
  </mat-card>

  <!-- Top Receivers -->
  <mat-card class="col-span-12 lg:col-span-8 rounded-2xl shadow-sm">
    <mat-card-content class="p-6">
      <h2 class="text-lg font-semibold mb-6">Top Receivers</h2>

      <!-- Horizontal -->
    </mat-card-content>
  </mat-card>

  <!-- Daily -->
  <mat-card class="col-span-12 rounded-2xl shadow-sm">
    <mat-card-content class="p-6">
      <h2 class="text-lg font-semibold mb-6">Daily Transactions</h2>

      <!-- Bar -->
    </mat-card-content>
  </mat-card>
</div>
